@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Workouts" class="btn btn-primary">Workouts</a>
    <a asp-controller="Home" asp-action="CreateWorkout" class="btn btn-secondary">Create Workout</a>
</div>
