@{
	ViewData["Title"] = "Workouts";
}

<div class="text-center">
    <h1 class="display-4">Workouts</h1>
	<a asp-controller="Home" asp-action="CreateEditWorkout" class="btn btn-primary">Create Workout</a>
</div>
